/* Global ====================================== */

body {
  margin: auto;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

button {
  background-color: #348236;
  width: 300px;
  height: 100px;
  font-size: 30px;
  border: hidden;
  margin-top: 68px;
  color: white;
  border-radius: .7rem;
  opacity: .8;
}

span {
  display: block;
  font-size: 35px;
  color: #348236;
}

input {
  background-color: #ffffff;
  box-shadow: #0864B1 2px 2px 6px;
  border: none;
  font-size: 30px;
}

footer {
  min-height: 300px;
  background-color: #348236;
}

textarea {
  font-size: 28px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: black;
  font-size: 23px;
  font-weight: bolder;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}

/* Header ====================================== */

@media screen and (max-width: 767px) {
  header {
    justify-content: center;
  }
  header .control-nav {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 30px;
    padding: 5px 0;
    border: solid #333;
    border-width: 3px 0;
    z-index: 2;
    cursor: pointer;
  }
  .h1-educar {
    opacity: 1 !important;
    position: relative !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    font-family: 'Signika', sans-serif;
  }
  .h1-educar h1 {
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
  }
  header .l2 {
    display: block;
  }
  header .l2 a {
    padding: .7rem .1rem;
    margin-top: .5rem;
  }
  header .redes {
    position: absolute;
    right: 200px;
    top: 53rem;
    display: flex;
    width: 40px;
    padding: 5px 0;
    border-width: 3px 0;
    z-index: 2;
    cursor: pointer;
    justify-content: end;
  }
  header .control-nav:before {
    content: "";
    display: block;
    height: 3px;
    background: #333;
  }
  header .control-nav-close {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  header nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    border-left: 1px solid #ccc;
    background: #ccc;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
}

header {
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  background: #ECECEC;
  z-index: 2;
  display: flex;
  align-items: center;
}

.h1-educar {
  opacity: 0;
  position: absolute;
  cursor: context-menu;
}

nav {
  display: contents;
}

.fL {
  padding-left: 1.5rem;
  z-index: 1;
}

.l2 {
  display: flex;
}

.l2 a {
  font-size: 25px;
  margin-right: 3rem;
  color: #333;
}

ul {
  list-style: none;
}

.redes {
  margin-left: 55rem;
  display: flex;
  justify-content: center;
}

.redes img {
  margin-right: 1rem;
}

#control-nav:checked~.control-nav-close {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

#control-nav:checked~nav {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

header h1 {
  padding: 10px 0 0 10px;
}

header h1 a {
  color: #333;
}

header li:first-child {
  border: none;
}

header li a {
  display: block;
  padding: 0 10px;
  color: #999;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: 'Signika', sans-serif;
}

header li a:hover {
  color: #348236;
}

.redes img, .l2 a, .fL img {
  transition: .5s ease;
}

.redes img:hover, .l2 a:hover, .fL img:hover {
  transform: translate3d(0, -3px, 0);
}

input#control-nav {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}

/* Inicio ====================================== */

@media screen and (max-width: 767px) {
  .text p {
    font-size: 35px;
    line-height: 45px;
  }
  .menu {
    display: block !important;
  }
  .text p {
    text-align: center;
  }
  .text-two {
    text-align: center !important;
    max-width: 100rem !important;
    /* width: 0 !important; */
  }
  .text {
    padding-left: 0 !important;
  }
  .figure img {
    width: 486px;
    height: 470px;
    /* margin-left: 7rem */
  }
  .figure {
    display: flex !important;
    justify-content: center !important;
    padding: 0 !important;
  }
  .logopanjay {
    opacity: 0;
    padding: 0 !important;
  }
}

.image {
  background-image: url(/img/backgorud.jpeg);
  height: 102vh;
  background-size: cover;
}

.menu {
  display: flex;
  /* justify-content: space-between; */
}

.text {
  display: block;
  justify-content: center;
  font-weight: bold;
  font-size: 87px;
  color: #FFF6F6;
  line-height: 80px;
  padding-left: 182px;
  padding-top: 81px;
  font-family: 'Signika', sans-serif;
}

.text-two {
  margin-left: 1rem;
  max-width: 40rem;
  display: block;
  justify-content: center;
  font-size: 35px;
  font-weight: lighter;
  line-height: 60px;
  color: #FFF6F6;
  text-decoration: dashed;
  text-align: center;
}

.figure {
  padding-top: 60px;
  padding-right: 115px;
}

/* App ====================================== */

@media screen and (max-width: 767px) {
  .background-app {
    height: 125vh !important;
  }
  .box-app {
    display: block !important;
    text-align: center;
  }
  .span-app {
    padding-top: 40px !important;
  }
  .span-app:before {
    left: 39% !important;
    width: 23vw !important;
  }
  .box-text-app {
    display: block !important;
  }
  .text-app {
    text-align: center;
    padding-left: 10px !important;
    padding-top: 0 !important;
  }
  .text-app p {
    font-size: 30px;
  }
  .educar-app {
    display: flex;
    justify-content: center;
    margin: 0 !important;
    max-width: 50rem !important;
  }
  .educar-app img {
    width: 220px;
    height: 400px;
    z-index: 1;
  }
  .googleplay {
    padding-top: 26rem !important;
    position: absolute;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 5rem;
    opacity: 0;
  }
  .googleplay img {
    width: 380px !important;
    height: 140px !important;
  }
}

.background-app {
  height: 115vh;
  background-color: #FFFFFF;
}

.box-app {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #348236;
}

.span-app {
  position: relative;
  align-items: center;
  padding-bottom: 48px;
  font-size: 50px;
  padding-top: 110px;
  font-family: 'Signika', sans-serif;
}

.span-app:before {
  content: "";
  position: absolute;
  left: 10%;
  width: 9.4vw;
  border-bottom: 8px solid #676767;
  border-radius: 3px;
  padding-top: 70px;
}

.box-text-app {
  display: flex;
  justify-content: space-between;
}

.text-app {
  display: block;
  justify-content: center;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  color: black;
  padding-left: 175px;
  padding-top: 130px;
  font-family: 'Signika', sans-serif;
}

.googleplay {
  padding-top: 50px;
  padding-left: 55px;
}

.educar-app {
  margin-right: 254px;
  margin-bottom: 166px;
  max-width: 360px;
}

.educar-app img {
  padding-left: 2rem;
  max-height: 750px;
}

/* Sobre ====================================== */

@media screen and (max-width: 767px) {
  .span-sobre {
    padding-top: 30px !important;
  }
  .span-sobre:before {
    left: 30% !important;
    width: 38vw !important;
  }
  .box-smart img {
    width: 150px;
    height: 265px;
  }
  .span-ra {
    font-size: 40px !important;
    padding-bottom: 30px !important;
  }
}

.sobre {
  background-color: #f5f5f5;
}

.span-sobre {
  position: relative;
  align-items: center;
  padding-bottom: 48px;
  font-size: 50px;
  padding-top: 100px;
  font-family: 'Signika', sans-serif;
}

.span-sobre:before {
  content: "";
  position: absolute;
  left: 25%;
  width: 10.4vw;
  border-bottom: 8px solid #676767;
  border-radius: 3px;
  padding-top: 70px;
}

.box-smart {
  display: flex;
  justify-content: center;
}

.span-ra {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #348236;
  padding-bottom: 138px;
  font-family: 'Signika', sans-serif;
}

/* Saber Mais ====================================== */

@media screen and (max-width: 767px) {
  .box-saber {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  .span-saber {
    font-size: 26px !important;
    width: 250px !important;
    margin: 5px !important;
  }
  .seta img {
    margin-top: 40px !important;
    width: 180px !important;
  }
  .logo-panjay img {
    width: 200px !important;
    height: 180px !important;
  }
}

.box-saber {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25.5vh;
  background-color: #348236;
}

.span-saber {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  color: #fff;
  margin-left: 50px;
  font-family: 'Signika', sans-serif;
}

.seta {
  margin-bottom: 60px;
}

.seta img {
  width: 400px;
}

.logo-panjay {
  margin-right: 60px;
}

/* Contato ====================================== */

@media screen and (max-width: 767px) {
  form {
    width: 90% !important;
  }
  .span-falecom::before {
    left: 10% !important;
    width: 45vw !important;
  }
}

.box-contact {
  width: 100%;
  background-color: #f5f5f5;
}

.contact {
  width: 50%;
  margin: auto;
}

.box-falecom {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #348236;
  margin-bottom: 60px;
}

.span-falecom {
  position: relative;
  z-index: 1;
  align-items: center;
  padding-bottom: 48px;
  font-size: 50px;
  margin-top: 90px;
  font-family: 'Signika', sans-serif;
}

.span-falecom:before {
  content: "";
  position: absolute;
  left: 25%;
  width: 10.4vw;
  border-bottom: 8px solid #676767;
  border-radius: 3px;
  padding-top: 70px;
}

.box-name {
  display: flex;
}

.name {
  flex-grow: 1;
}

.name:first-child {
  margin-right: 50px;
}

.span-name {
  margin-bottom: 24px;
  font-family: 'Signika', sans-serif;
}

.input-name {
  width: 100%;
  padding: 20px 12px;
}

.box-email {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
}

.span-email {
  margin: 20px 0;
  font-family: 'Signika', sans-serif;
}

.input-email {
  width: 100%;
  padding: 20px 12px;
  display: flex;
}

.tex {
  width: 100%;
  height: 30vh;
  padding: 15px 12px;
  background-color: #ffffff;
  box-shadow: #0864B1 2px 2px 6px;
  border: none;
}

.butao {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  padding-bottom: 119px;
}

button {
  font-family: 'Signika', sans-serif;
}

button:hover {
  background-color: #081c15;
  cursor: pointer;
  transition: .6s;
}

/* Footer ====================================== */

@media screen and (max-width: 767px) {
  .logo {
    display: block !important;
    margin-left: 250px;
  }
  .logo img {
    padding: 0 !important;
    width: 30%;
  }
}

.rodape {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.logo {
  position: relative;
  align-items: center;
  display: flex;
  font-family: 'Signika', sans-serif;
}

/* Modal ========================== */

.modal-overlay, .modal-overlay2, .modal-overlay3, .modal-overlay4, .modal-overlay5 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active, .modal-overlay2.active, .modal-overlay3.active, .modal-overlay4.active, .modal-overlay5.active {
  opacity: 1;
  visibility: visible;
  transition: .4s ease;
}

.modal {
  padding: 2.4rem;
}

.button.cancel {
  color: var(--red);
  border: 2px var(--red) solid;
  border-radius: 0.25rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.button.cancel:hover {
  opacity: 1;
}